build/*
/TSN_JavaSE_Lab01/build/
/TSN_JavaSE_Lab02/build/
/TSN_JavaSE_Lab03/build/
/TSN_JavaSE_Lab04/build/
/TSN_JavaSE_Lab05/build/
/TSN_JavaSE_Lab10/build/
/TSN_JavaSE_Lab01/dist/
/TSN_JavaSE_Lab02/dist/
/TSN_JavaSE_Lab03/dist/
/TSN_JavaSE_Lab04/dist/
/TSN_JavaSE_Lab05/dist/
/TSN_JavaSE_Lab06/build/
/TSN_JavaSE_Lab06/dist/
/TSN_JavaSE_Lab07/build/
/TSN_JavaSE_Lab07/dist/
/TSN_JavaSE_Lab08/dist/
/TSN_JavaSE_Lab08/build/
/TSN_JavaSE_Lab09/build/
/TSN_JavaSE_Lab09/dist/
/TSN_JavaSE_Lab10/dist/
